**
!.gitignore
!wp-content/
wp-content/**
!wp-content/mu-plugins/
!wp-content/themes/
!wp-content/plugins/
wp-content/mu-plugins/**
wp-content/themes/**
wp-content/plugins/**

!wp-content/plugins/mandr-page-scripts
!wp-content/plugins/mandr-page-scripts/**

!wp-content/mu-plugins/mandr-cpt
!wp-content/mu-plugins/mandr-cpt/**

wp-content/themes/index.php
wp-content/themes/twentytwenty
!wp-content/themes/henp/
!wp-content/themes/henp/**

*.log
*.sql
*.sqlite
*.log
.env
*.env
.DS_Store
advanced-cache.php
object-cache.php
wp-config.php
.vscode/
logs/
backup-db/
backups/
blogs.dir/
cache/
upgrade/
uploads/
acf-json/
node_modules/
