/*
Site Footer
---------------------------------------------------------------------------------------------------- */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $color-darkgrey;
    color: $color-white;
    font-size: 14px;
    padding: 40px 0;
    text-align: center;
    border-radius: 25% 0 0 0;
    height: 641px;
    position: relative;
    @media (max-width: $second-break-max) {
        border-radius: unset !important;
        height: unset !important;
    }
    &::before {
        content: '';
        border-left: 2px solid $color-darkorange;
        position: absolute;
        display: block;
        left: 50%;
        top: 0;
        // top: -60px;
        transform: translateX(-50%);
        width: 1px;
        height: 72px;
    }
    a {
        color: white;
        &:hover {
            color: $color-darkorange;
        }
    }

    p {
        margin-bottom: 0;
    }

    .contact-info {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @media (max-width: $second-break-max) {
            flex-direction: column;
            align-items: center !important;
            gap: 25px;
            .contact-address {
                border-right: unset !important;
            }
            .contact-email {
                border-left: unset !important;
            }
        }
        img {
            padding: 0 50px;
            @media (max-width: $second-break-max) {
                order: 1;
            }
        }
        .contact-address {
            border-right: 2px solid $color-darkorange;
            padding: 0 50px;
            @media (max-width: $second-break-max) {
                order: 2;
                padding-bottom: 25px;
                border-bottom: 2px solid $color-darkorange;
            }
        }

        .contact-email {
            border-left: 2px solid $color-darkorange;
            padding: 0 50px;
            @media (max-width: $second-break-max) {
                order: 3;
            }
        }
    }

    #footer-copyright {
        margin-top: 100px;
        @media (max-width: $second-break-max) {
            margin-top: 25px !important;
        }
    }
}
