/* Mobile Nav
---------------------------------------------------------------------------------------------------- */
$menu-link-color: $color-black;
$menu-link-hover-color: #000;
$menu-icon-color: $color-lightorange;

.mobile-nav {
    //position: fixed;
    position: relative;
    z-index: 250;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: $spacing-tiny $spacing-xs;

    &::after {
        content: '';
        background-color: $color-tan;
        position: absolute;
        top: 0;
        right: 0;
        width: 109px;
        height: 100%;
    }

    .header--init &,
    .nav-active & {
        background: $color-background; 
    }

    /*.scrolling-down:not(.overlay-active):not(.nav-active) & */
    .scrolling-down:not(.nav-active) & {
        transform: translateY(-400px);
        opacity: 0;

        &.transition-done {
            visibility: hidden;
            #primary-nav {
                visibility: hidden;
            }
        }
    }

    .social-links {
        border-top: 1px solid $color-offwhite;
        margin-top: 24px;
        text-align: center;

        a {
            background-color: #fff;
            margin-top: $spacing-xs;
            color: $color-darkorange;

            &:hover,
            &:focus {
                background-color: $color-darkorange;
                color: #fff;
            }
        }
    }
}

.mobile-header {
    position: relative;
    z-index: 10;
    // background: rgb(0,61,165);
    // background: linear-gradient(90deg, rgba(0,61,165,1) 0%, rgba(1,36,95,1) 100%);
    // width: 100%;
    // height: auto;
    // padding: $spacing-tiny;

    // @media (min-width: $mobile-break) {
    //     padding: $spacing-sm $spacing-tiny;
    // }

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: auto;
    }

    &__logo {
        width: 100%;
        max-width: 150px;
        margin-bottom: 0;

        @media (min-width: $mobile-break) {
            min-width: 150px;
            max-width: 250px;
        }
    }

    &__navigation {
        display: inline-flex;
        align-items: center;
        margin-left: auto;
    }

    &__secondary-navigation {
        margin-right: $spacing-xs;
    }

    &__button {
        position: relative;
        top: -5px;
        margin-left: auto;
        margin-bottom: 0;

        &__icon {
            pointer-events: none; // Remove this so JavaScript click event always grabs button

            &{
                background-color: $color-darkorange;
                display: inline-block;
                position: relative;
                margin: 0 auto;
                height: 61px;
                width: 61px;
                border-radius: 100%;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    margin-bottom: 0;
                    color: $color-white;
                    border-top: 5px solid $color-white;
                    border-bottom: 5px solid $color-white;
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }

            .nav-active & {
                &:before,
                &:after {
                    transform: scaleX(1);
                }
            }
        }

        &__text {
            pointer-events: none;
        }
    }
}

.mobile-menu {
    background-color: $color-tan + e6; //+e6 = 90% opacity
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 768px;
    height: 100%;
    transform: translateX(100%);
    //transition: transform 350ms ease;

    &__wrap {
        position: fixed;
        width: 100%;
        height: calc(100% - var(--header-height-with-adminbar));
        margin: 0;
        padding: 25px;
        overflow-x: hidden;
        overflow-y: auto;
        backface-visibility: hidden;

        /* Only for iOS */
        -webkit-overflow-scrolling: touch;
    }

    &__panel {
        position: relative;
        margin: auto;
        padding-top: 100px;

        @media (min-width: $mobile-break) {
            padding-top: 0;
        }
    }

    &__navigation {
        margin-bottom: 0;

        @media (min-width: $mobile-break) {
            &[data-level='3'] {
                //display: none;

                li a {
                    padding-left: 35px;
                    font-size: 14px;
                }
            }
        }
    }

    &__close {
        background-color: #000;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 100;
        top: -25px;
        right: -25px;
        width: 50px;
        height: 50px;
        margin-bottom: $spacing-xs;

        color: #fff;
        font-size: 25px;

        &:hover,
        &:focus {
            background-color: transparent;
            color: #000;
        }
    }

    &--active {
        transform: translateX(0);
        transition: transform 550ms cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}

// Primary navigation
.mobile-menu-primary {
    &__item {
        &__link {
            display: block;
            width: 100%;
            padding: $spacing-tiny;
            color: $menu-link-color;
            font-size: 24px;
            font-weight: 400;
            transition: transform 350ms cubic-bezier(0.21, 0.66, 0.79, 1);
            text-decoration: none;
            text-transform: uppercase;
            position: relative;
            padding-left: 63px;
            @media (min-width: $mobile-med) {
                margin-left: 15%;
            }
            font-size: 28px;
            font-weight: 800;

            &:hover,
            &:focus {
                color: $color-darkorange;
            }

            &::before {
                content: '';
                background-color: $color-darkorange;
                width: 42px;
                height: 2px;
                position: absolute;
                top: calc(50% - 1px);
                left: 0;
            }
        }

        &:last-of-type &__link {
            border-bottom: none;
        }
    }

    &__toggle {
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        padding: 0;
        border: none;
    }
}

.mobile-menu-secondary {
    background-color: $color-lightorange;
    position: absolute;
    top: -25px;
    left: -25px;
    width: calc(100% + 50px);

    &,
    ul {
        display: inline-flex;
        vertical-align: bottom;
        justify-content: center;
    }

    ul {
        margin: 0;
        padding: $spacing-sm 0;
    }

    li {
        margin: 0 12px;
    }

    a {
        color: #fff;
        font-weight: 700;
    }
}

// Child menu styling
.mobile-sub-menu {
    background-color: #fff;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    &[aria-hidden='true'] {
        display: none;
        // transition: left 450ms ease, visibility 50ms 450ms ease,
        //     opacity 50ms 450ms ease;
    }

    &[aria-hidden='false'] {
        display: block;
        // transition: left 450ms ease;
        overflow-y: scroll;
    }

    &__item {
        position: relative;
        margin-left: auto;
        margin-right: auto;

        &__link {
            display: block;
            color: $menu-link-color;
            border-bottom: 1px solid #eee;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 36px;
            font-size: 20px;
            font-weight: 400;

            &:hover,
            &:focus {
                color: $menu-link-hover-color;
                text-decoration: underline;
            }
        }

        &:last-of-type &__link {
            border-bottom: none;
        }
    }

    &__item + &__item {
        margin-top: 6px;
    }

    &__close {
        display: none;
        position: relative;
        border-bottom: 1px solid #eee;
        margin: 0 auto 20px;
        padding-bottom: 20px;

        &__text {
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;

            span {
                margin-right: $spacing-tiny;
            }
        }
    }

    &__toggle {
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        padding: 0;
        border: none;
    }

    .reverse {
        vertical-align: middle;
    }
}

.mobile-menu-primary,
.mobile-sub-menu {
    &__item {
        position: relative;
        display: inline-flex;
        vertical-align: bottom;
        width: 100%;
        text-align: left;
        flex-direction: column;

        &__link {
            display: block;
            width: 100%;
        }
    }

    &__toggle {
        &__icon {
            color: $menu-icon-color;
            font-size: 20px;
        }
    }
}

// body.nav-active #header .mobile-header__button__icon {
//     background: transparent; 

//     &:before {
//         content: 'X';
//         background: transparent;
//         font-weight: 700;
//         font-size: 32px;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         position: absolute;
//         width: 32px;
//         height: 48px;
//     }

//     &:after {
//         display: none;
//     }
// }