// basic page section-wrap padding
.section-wrap {
    position: relative;
    &::before {
        content: '';
        border-left: 2px solid $color-darkorange;
        position: absolute;
        display: block;
        left: 50%;
        //top: -61px;
        transform: translateX(-50%);
        width: 1px;
        //height: 72px;
    }

    &#stats {
        &::before {
            top: -61px;
            height: 72px;
        }
    }

    &#about {
        &::before {
            top: -201px;
            height: 242px;
            z-index: -1;
        }
    }

    &#counties-we-serve {
        &::before {
            top: -61px;
            height: 82px;
        }
    }

    &#resources {
        &::before {
            top: -61px;
            height: 72px;
        }
    }

    &#henp-at-work {
        &::before {
            top: 0px;
            height: 25px;
        }
    }

    &#meet-the-team {
        &::before {
            top: 0px;
            height: 25px;
        }
    }

    &#articles {
        &::before {
            top: 0px;
            height: 25px;
        }
    }

    &#events {
        &::before {
            top: -36px;
            height: 58px;
        }
    }

    // last item before footer has padding below
    &:last-child {
        padding-bottom: 64px;

        @media (max-width: $laptop-break) {
            padding-bottom: 52px;
        }

        @media (max-width: $mobile-med) {
            padding-bottom: 36px;
        }
    }

    &.include-padding {
        padding-top: 88px;

        article > &:first-child {
            padding-top: 56px;
        }

        &.padding-as-margin {
            padding-top: 0;
            margin-top: 88px;
        }

        @media (max-width: $laptop-break) {
            padding-top: 56px;

            article > &:first-child {
                padding-top: 48px;
            }

            &.padding-as-margin {
                padding-top: 0;
                margin-top: 56px;
            }
        }

        @media (max-width: $mobile-med) {
            padding-top: 36px;

            article > &:first-child {
                padding-top: 36px;
            }

            &.padding-as-margin {
                padding-top: 0;
                margin-top: 36px;
            }
        }
    }
}

// reduce padding for standard-layout followed by another standard-layout
.standard-layout + .standard-layout {
    &.include-padding {
        padding-top: 48px;

        @media (max-width: $mobile-break) {
            padding-top: 32px;
        }
        @media (max-width: $mobile-small) {
            padding-top: 28px;
        }
    }
}
