/* Set your primary colors here */
$color-background: #fff;
$color-red: #990000;
$color-blue: #0000ff;
$color-offwhite: #fefefe;

/* Make sure to set this*/
$color-main: $color-blue;

/* typical text color */
$color-text: #282828;

/* color when ya highlight something with the mouse */
$selectionColor: #333333;

/* simple a and a:hover */
$color-link: $color-red;
$color-linkhover: black;
