/* Set your primary colors here */
$color-white: #fff;
$color-darkorange: #F76800;
$color-lightorange: #FF8A36;
$color-peach: #FFE2CE;
$color-tan: #FFF6EF;
$color-offwhite: #ECECEC;
$color-lightgrey: #999999;
$color-grey: #636363;
$color-darkgrey: #3F3F41;
$color-black: #222222;

$color-background: $color-white;

/* Make sure to set this*/
$color-main: $color-lightorange;

/* typical text color */
$color-text: $color-darkgrey;

/* color when ya highlight something with the mouse */
$selectionColor: $color-black;

/* simple a and a:hover */
$color-link: $color-darkorange;
$color-linkhover: $color-darkorange;
