/* Typographical Basics
--------------------------------------------- */

html {
    font-size: 62.5%; /* 10px browser default */
}
body {
    background-color: $color-background;
    color: $color-text;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    @media (min-width: $mobile-med) {
        font-size: 18px;
        line-height: 1.45;
    }

    @media (min-width: $second-break) {
        font-size: 20px;
    }

    &.nav-active {
        overflow: hidden;
    }
}

p + h2,
ul + h2,
ol + h2 {
    margin-top: 32px;

    @media (min-width: $mobile-med) {
        margin-top: 36px;
    }
    @media (min-width: $second-break) {
        margin-top: 48px;
    }
}

p + h3,
ul + h3,
ol + h3 {
    margin-top: 24px;

    @media (min-width: $mobile-med) {
        margin-top: 26px;
    }
    @media (min-width: $second-break) {
        margin-top: 32px;
    }
}

/* Headings
--------------------------------------------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 12px;

    @media (min-width: $mobile-med) {
        margin: 0 0 14px;
    }
    @media (min-width: $mobile-break) {
        margin: 0 0 16px;
    }
}
h1,
.h1 {
    font-size: 36px;
    font-family: "century-gothic", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
    @media (min-width: $mobile-med) {
        font-size: 42px;
    }
    @media (min-width: $mobile-break) {
        font-size: 54px;
    }
}
h2,
.h2 {
    font-size: 26px;
    font-family: "century-gothic", sans-serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
    @media (min-width: $mobile-med) {
        font-size: 32px;
    }
    @media (min-width: $mobile-break) {
        font-size: 40px;
    }

    text-decoration: underline $color-peach 2px;
    text-underline-offset: -4px; /* Move the underline 4 pixels above the text */
    text-decoration-thickness: 22px; /* Set the thickness of the underline */
    text-decoration-color: $color-peach; /* Set the color of the underline */
    text-decoration-skip-ink: none;
    
    margin-bottom: 50px;
}
h3,
.h3 {
    font-size: 22px;
    font-family: "century-gothic", sans-serif !important;
    font-weight: 700 !important;
    font-style: italic !important;
    color: $color-lightorange;

    @media (min-width: $mobile-med) {
        font-size: 25px;
    }
}
h4,
.h4 {
    font-size: 20px;
    font-family: "century-gothic", sans-serif !important;
    font-weight: 700 !important;
    font-style: italic !important;
}
h5,
.h5 {
    font-size: 18px;
    font-family: "century-gothic", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}
h6,
.h6 {
    font-size: 16px;
}

// Header title
.header-title {
    text-align: center;
    padding-top: 50px;
    text-decoration: underline $color-peach 2px;
    text-underline-offset: -4px; /* Move the underline 4 pixels above the text */
    text-decoration-thickness: 22px; /* Set the thickness of the underline */
    text-decoration-color: $color-peach; /* Set the color of the underline */
    text-decoration-skip-ink: none;
}

/* Typographical Basics +
--------------------------------------------- */

a {
    color: $color-link;
    text-decoration: underline;

    &:hover,
    &:focus {
        color: $color-linkhover;
    }

    img {
        vertical-align: bottom;
    }
}

a.btn, button.btn {
    display: inline-block;
    background-color: $color-darkorange;
    text-decoration: none;
    color: $color-black;
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    transition: 0.5s ease;
    &:hover  {
        color: $color-white;
    }
    &:focus {
        box-shadow: none;
    }
}

a.btn-arrow {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-black;
    position: relative;
    &::after {
        content: '';
        background: url(/wp-content/themes/henp/assets/images/btn-arrow.svg);
        height: 20px;
        width: 20px;
        position: absolute;
        right: -30px;
        top: 3px;
    }
}

p {
    margin: 0;
    margin-bottom: 18px;
    padding: 0;

    @media (min-width: $mobile-med) {
        margin-bottom: 20px;
    }

    @media (min-width: $second-break) {
        margin-bottom: 24px;
    }
}

strong {
    font-weight: 700;
}

blockquote {
    margin: 0;
    padding: 6px 0 24px;
    font-size: 20px;
    font-weight: bold;
    color: $color-lightorange;
    @media (min-width: $mobile-med) {
        padding: 8px 0 30px;
        font-size: 26px;
    }
    @media (min-width: $second-break) {
        padding: 12px 0 36px;
        font-size: 30px;
    }
}

.entry-content code {
    background-color: #cbcbcb;
    color: #000;
}

cite {
    font-style: normal;
}

/* Selection colours */
::selection {
    background: $selectionColor;
    color: #fff;
}
::-moz-selection {
    background: $selectionColor;
    color: #fff;
}

img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $selectionColor;
}

/* Background Colors
--------------------------------------------- */
.bg {
    &--dark {
        background-color: #000;
        color: #fff;

        p,
        a,
        ul li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }
    }
}

/* Typographical Transitions
--------------------------------------------- */

a,
button,
input:focus,
input[type='button'],
input[type='reset'],
input[type='submit'],
textarea:focus,
.button {
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}
