/* Toggles */
$color-toggle: transparent;
$color-text: $color-black;

.toggles, .counties-map {
    &__content {
        margin-bottom: 50px;
    }
    .toggle {
        margin: 0 0 8px;
        padding: 0 0 2px 0;
        width: 100%;
        border-top: solid 2px $color-darkorange;

        &:last-of-type {
            border-bottom: solid 2px $color-darkorange;
        }
        &__trigger {
            background: $color-toggle;
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            border: none;
            padding: 10px 60px 10px 24px;
            font-style: normal;

            color: $color-text;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;

            &:hover,
            &:focus {
                background: darken($color-toggle, 10%);
                color: $color-text;
            }

            &-text {
                display: none;
            }

            &-icon {
                display: block;
                background: $color-darkorange;
                border-radius: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: initial;
                right: 0;
                width: 40px;
                height: 40px;

                color: $color-text;
                font-size: 26px;
                line-height: 52px;
                text-align: center;
                transition: color 0.3s ease-in-out;
                pointer-events: none;

                &:before {
                    content: '+';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-style: normal;
                }
            }
        }

        &__box {
            overflow: hidden;
            padding: 20px;
        }

        &--active {
            background: darken($color-toggle, 10%);

            .toggle {
                &__trigger-icon {
                    &:before {
                        content: '-';
                    }
                }
            }
        }
    }
}
