.counties-map {
    &__container {
        display: flex;
        gap: 75px;
        border-bottom: 2px solid $color-darkorange;
        padding-bottom: 50px;
        @media (max-width: $second-break-max) {
            flex-direction: column;
            .toggles__container {
                width: 100% !important;
            }
        }

        .toggle {
            margin-bottom: 0;
        }

        .map__container {
            width: 100%;

            svg {
                text {
                    font-family: 'Open Sans', sans-serif !important;
                    font-weight: 700;
                    pointer-events: none;
                }
                path:hover {
                    fill: $color-peach;
                    cursor: pointer;
                }
            }
        }
        .toggles__container {
            width: 50%;
            .toggle__box {
                padding-top: 0px;
                padding-bottom: 10px;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__content {        
        @media (max-width: $mobile-med-max) {
            margin-top: 25px;
        }
    }
}