.team {
    background-color: $color-darkgrey;
    border-radius: 30px;
    color: white;

    @media (max-width: $second-break-max) {
        border-radius: 0;
        &__member {
            flex-basis: 100% !important;
        }
    }

    @media (max-width: $mobile-break-max) {
        &__member {
            flex-direction: column;
            align-items: flex-start !important;
        }

        &__leaders {
            padding-bottom: 0 !important;
        }
    }

    &__content {
        h2 {
            text-decoration: underline $color-grey 2px;
            text-underline-offset: -4px; /* Move the underline 4 pixels above the text */
            text-decoration-thickness: 22px; /* Set the thickness of the underline */
            text-decoration-color: $color-grey; /* Set the color of the underline */
            text-decoration-skip-ink: none;
        }
    }
    &__container {

    }

    &__leaders {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 2px $color-darkorange;
        flex-wrap: wrap;
        padding-bottom: 70px;
        padding-top: 50px;
        row-gap: 50px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 70px;
        row-gap: 50px;
    }

    &__member {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        gap: 25px;
        &__picture {
            display: inline-block;
            border-radius: 30px;
            position: relative;
            &::before {
                content: '';
                display: block;
                height: 95%;
                width: 100%;
                border: 2px solid $color-darkorange;
                position: absolute;
                z-index: 1;
                border-radius: 30px;
                left: -5px;
                bottom: -5px;
            }
        }
        &__image {
            min-height: 275px;
            min-width: 235px;
            width: 235px;
            border-radius: 30px;
            position: relative;
            z-index: 2;
        }
        &__content {
            padding-right: 30px;
        }
    }
}