.events-feed {
    &__title {
        text-align: center;
    }

    &__container {
        display: flex;
        gap: 100px;
        @media (max-width: $second-break) {
            flex-direction: column;
            gap: 25px;
            &__content {
                width: 100% !important;
            }

            &__events {
                width: 100% !important;
            }
        }
        &__content {
            width: 40%;
            h3 {
                color: $color-grey;
                font-weight: 400!important;
            }
        }

        &__events {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 25px;
            &__event {
                width: 100%;
                background-color: $color-peach;
                padding: 30px;
                border-radius: 30px;
                display: flex;
                align-items: center;

                @media (max-width: $mobile-small-max) {
                    flex-wrap: wrap;
                    padding: 25px;
                    align-items: flex-start !important;
                    .event-date {
                        flex-basis: 15%;
                        padding-right: 10px !important;
                    }
                    .event-desc {
                        flex-basis: 75%;
                        padding-left: 10px !important;
                    }
                    a {
                        flex-basis: 100%;
                    }
                }

                .event-date {
                    border-right: 2px solid $color-darkorange;
                    padding-right: 35px;
                    text-transform: uppercase;
                    h2 {
                        margin-bottom: 0;
                    }

                    h4 {
                        font-style: normal !important;
                    }
                }

                .event-desc {
                    padding-left: 35px;
                    width: 100%;

                    h3 {
                        color: $color-grey;
                    }
                }
            }
        }
    }
}